In [1]:
# Import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Import datasets 2007-2017

df17 = pd.read_csv(r'C:\Users\AP\Desktop\Fars2017Accident.csv')
df16 = pd.read_csv(r'C:\Users\AP\Desktop\Fars2016Accident.csv')
df15 = pd.read_csv(r'C:\Users\AP\Desktop\Fars2015Accident.csv')
df14 = pd.read_csv(r'C:\Users\AP\Desktop\Fars2014Accident.csv')
df13 = pd.read_csv(r'C:\Users\AP\Desktop\Fars2013Accident.csv')
df12 = pd.read_csv(r'C:\Users\AP\Desktop\Fars2012Accident.csv')
df11 = pd.read_csv(r'C:\Users\AP\Desktop\Fars2011Accident.csv')
df10 = pd.read_csv(r'C:\Users\AP\Desktop\Fars2010Accident.csv')
df09 = pd.read_csv(r'C:\Users\AP\Desktop\Fars2009Accident.csv')
df08 = pd.read_csv(r'C:\Users\AP\Desktop\Fars2008Accident.csv')

In [3]:
df17.dropna(inplace=True)
df16.dropna(inplace=True)
df15.dropna(inplace=True)
df14.dropna(inplace=True)
df13.dropna(inplace=True)
df12.dropna(inplace=True)
df11.dropna(inplace=True)
df10.dropna(inplace=True)
df09.dropna(inplace=True)
df08.dropna(inplace=True)

In [4]:
# Convert state number codes to names

states = {1: 'Alabama', 2: 'Alaska', 4: 'Arizona', 5: 'Arkansas', 
          6: 'California', 8: 'Colorado', 9: 'Connecticut', 10: 'Delaware', 
          11: 'District of Columbia', 12: 'Florida', 13: 'Georgia', 15: 'Hawaii', 
          16: 'Idaho', 17: 'Illinois', 18: 'Indiana', 19: 'Iowa', 20: 'Kansas', 
          21: 'Kentucky', 22: 'Louisiana', 23: 'Maine', 24: 'Maryland', 
          25: 'Massachusetts', 26: 'Michigan', 27: 'Minnesota', 
          28: 'Mississippi', 29: 'Missouri', 30: 'Montana', 31: 'Nebraska', 
          32: 'Nevada', 33: 'New Hampshire', 34: 'New Jersey', 35: 'New Mexico', 
          36: 'New York', 37: 'North Carolina', 38: 'North Dakota', 39: 'Ohio', 
          40: 'Oklahoma', 41: 'Oregon', 42: 'Pennsylvania', 43: 'Puerto Rico', 
          44: 'Rhode Island', 45: 'South Carolina', 46: 'South Dakota', 47: 'Tennessee', 
          48: 'Texas', 49: 'Utah', 50: 'Vermont', 51: 'Virginia', 52: 'Virgin Islands', 
          53: 'Washington', 54: 'West Virginia', 55: 'Wisconsin', 56: 'Wyoming'}

df17['STATE']=df17['STATE'].apply(lambda x: states[x])
df16['STATE']=df16['STATE'].apply(lambda x: states[x])
df15['STATE']=df15['STATE'].apply(lambda x: states[x])
df14['STATE']=df14['STATE'].apply(lambda x: states[x])
df13['STATE']=df13['STATE'].apply(lambda x: states[x])
df12['STATE']=df12['STATE'].apply(lambda x: states[x])
df11['STATE']=df11['STATE'].apply(lambda x: states[x])
df10['STATE']=df10['STATE'].apply(lambda x: states[x])
df09['STATE']=df09['STATE'].apply(lambda x: states[x])
df08['STATE']=df08['STATE'].apply(lambda x: states[x])

In [5]:
df17['YEAR']= '2017'
df16['YEAR']= '2016'
df15['YEAR']= '2015'
df14['YEAR']= '2014'
df13['YEAR']= '2013'
df12['YEAR']= '2012'
df11['YEAR']= '2011'
df10['YEAR']= '2010'
df09['YEAR']= '2009'
df08['YEAR']= '2008'

In [6]:
df = pd.concat([df17,df16,df15,df14,df13,df12,df11,df10,df09,df08], sort=True)

In [12]:
df = df.loc[:, ['STATE', 'MONTH', 'YEAR', 'FATALS', 'DRUNK_DR']]

In [13]:
df = df[df["STATE"].isin(['Colorado', 'Connecticut', 'Georgia', 'Oregon', 'Texas', 'Washington'])]

In [15]:
list(df17)

['STATE',
 'ST_CASE',
 'VE_TOTAL',
 'VE_FORMS',
 'PVH_INVL',
 'PEDS',
 'PERNOTMVIT',
 'PERMVIT',
 'PERSONS',
 'COUNTY',
 'CITY',
 'DAY',
 'MONTH',
 'YEAR',
 'DAY_WEEK',
 'HOUR',
 'MINUTE',
 'NHS',
 'RUR_URB',
 'FUNC_SYS',
 'RD_OWNER',
 'ROUTE',
 'TWAY_ID',
 'TWAY_ID2',
 'MILEPT',
 'LATITUDE',
 'LONGITUD',
 'SP_JUR',
 'HARM_EV',
 'MAN_COLL',
 'RELJCT1',
 'RELJCT2',
 'TYP_INT',
 'WRK_ZONE',
 'REL_ROAD',
 'LGT_COND',
 'WEATHER1',
 'WEATHER2',
 'WEATHER',
 'SCH_BUS',
 'RAIL',
 'NOT_HOUR',
 'NOT_MIN',
 'ARR_HOUR',
 'ARR_MIN',
 'HOSP_HR',
 'HOSP_MN',
 'CF1',
 'CF2',
 'CF3',
 'FATALS',
 'DRUNK_DR']